﻿@{
    Layout = "~/Views/shared/_LeadLayout.cshtml";
    ViewBag.Title = "Page title";
}
@using JAG.DevTest2019.Host.Models
@model LeadViewModel

@section Meta{
    <meta name="description" content="Default site" />
    <meta name="keywords" content="Default" />
}

    <section id="quote" class="main-banner" style="background-image: url(/Content/Images/Banners/car-insurance.jpg)">
        <div class="slant-left col-md-9 pull-left">
            <div class="col-md-8 col-md-offset-2">
                <div class="capture-form">
                    @using (Html.BeginForm())
                    {
                        <h1 class="text-center">Insurance</h1>
                        <h4>Don’t pay too much, find the best insurance quotes and start saving today!</h4>
                        <div class="col-md-12">
                            <p>
                                <input type="hidden" value="@Model.TrackingCode" id="hdnTrackingCode" />

                                My name is @Html.TextBoxFor(model => model.FirstName, new { @placeholder = Html.DisplayNameFor(model => model.FirstName) }) @Html.TextBoxFor(model => model.Surname, new { @placeholder = Html.DisplayNameFor(model => model.Surname) })
                                You can contact me at @Html.TextBoxFor(model => model.EmailAddress, new { @placeholder = Html.DisplayNameFor(model => model.EmailAddress) }) or @Html.TextBoxFor(model => model.ContactNumber, new { @placeholder = Html.DisplayNameFor(model => model.ContactNumber) })
                                to help me save on insurance
                                I am @Html.DropDownListFor(model => model.Gender, Model.Genders, "Gender") and my language preference is
                                @Html.DropDownListFor(model => model.Language, Model.Languages, "Language")
                                and my blood type is @Html.DropDownListFor(model => model.BloodType, Model.BloodTypes, "BloodType")
                            </p>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="button" id="btnSubmit" onclick="submitQuerie()" class="orange-button">Get Quotes Now</button>
                        </div>
                        <div class="col-md-12 text-center popup">
                            <img src="~/Content/Images/Products/new-success.png" id="successImage" height="24px" style="display: none;" />
                            <span id="result"></span>
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="snackbar"></div>
    </section>
<div class="clearfix"></div>
<div class="container benefits-padding text-center">
    <h2>Benefits</h2>
    <div class="benefits-cols">
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-save.png" />
            <p>People saved on insurance</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-calling.png" />
            <p>99.99% were called in under 5 minutes</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-success.png" />
            <p>96% believe these stats</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-clients.png" />
            <p id="benefitQueries">Over 6,000,000 queries serviced</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="quote" class="testimonial-banner" style="background-image: url('../../Content/Images/Banners/best-car-insurance.jpg');">
    <div class="slant-right col-md-9 pull-right">
        <div class="col-md-6 col-md-offset-3 testimonials text-center">
            <b>Getting the lowest insurance quote has never been so easy:</b>
            <p>
                <b>Joe Blogs (26 years)</b><br /><br />
                Telsa model x <br />
                Was paying R999,999.99<br />
                Now paying R99.99
            </p>
            <h2 class="highlight">Insurance saving of {lots of %}</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="container-blue">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Get a quote and</h1>
        <h1 class="green">start saving now</h1>
        <p>Get in touch to receive insurance quotes from South Africa’s top insurance companies. Getting the lowest insurance premiums has never been so easy.</p>
        <a id="lnkGetQuote" href="#quote" class="orange-button">Get a quote now</a>
    </div>
    <div class="clearfix"></div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var sessionId = 0;
        $(document).ready(function () {
            $('#lnkLead').addClass('activeMenu');
        });

        //$(function () {
            

        //    lead.client.updateLeadRequestStatus = function (message) {
        //        // Add the message to the page. 
        //        console.log(message);
        //    };
        //    lead.client.updateUserId = function (userId) {
        //        sessionId = userId;
        //    };
        //});
        var lead = $.connection.leadHub;

        $(function () {
            $.connection.hub.logging = true;
            if ($.connection.hub.state !== 1) {
                $.connection.hub.start().done(function () {
                    console.log('Now connected, connection ID=' + $.connection.hub.id);
                    console.log("Connected, transport = " + $.connection.hub.transport.name);
                    sessionId = lead.connection.id;
                    lead.server.joinLeadRequest(sessionId);
                }).fail(function () { console.log('Could not Connect!'); });

                lead.client.updateLeadRequestStatus = function (message) {
                    $('#snackbar').text(message);
                    // Get the snackbar DIV
                    var x = document.getElementById("snackbar");
                    // Add the "show" class to DIV
                    x.className = "show";
                    // After 3 seconds, remove the show class from DIV
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                };
            }
        });

        var benefitQueries = 6000000;
        window.setInterval(
            function () {
                benefitQueries = benefitQueries + 1;
                $("#benefitQueries").text("Over " + benefitQueries.toLocaleString() + " queries serviced");
            },
            1000);

        function submitQuerie() {
            var isvalid = $('form').valid();

            if (isvalid) {
                JAG.Common.toggleButton($("#btnSubmit")[0]);
                var _data = {
                    TrackingCode: $('#hdnTrackingCode').val(),
                    Gender: $('#Gender').val(),
                    Language: $('#Language').val(),
                    BloodType: $('#BloodType').val(),
                    FirstName: $('#FirstName').val(),
                    Surname: $('#Surname').val(),
                    EmailAddress: $('#EmailAddress').val(),
                    ContactNumber: $('#ContactNumber').val(),
                    UserSessionId: sessionId
                };

                $.ajax({
                    url: '/Lead/SubmitLead',
                    data: JSON.stringify(_data),
                    method: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.resultType == "Success") {
                            JAG.Common.toggleButton($("#btnSubmit")[0]);
                            $('#successImage').show();
                            $('#result').text(data.resultMessage);
                        } else {
                            JAG.Common.toggleButton($("#btnSubmit")[0]);
                            $('#result').text(data.resultMessage);
                            $('#successImage').hide();
                        }
                    },
                    error: function (xhr) {
                        JAG.Common.toggleButton($("#btnSubmit")[0]);
                        $('#Result').text("Qoutes request failed.Please contact us now on " + $('#telephoneNumber').val());
                        $('#successImage').hide();
                    }
                })
            }
        }
    </script>
}